body{font-family: Arial, Helvetica, sans-serif}

nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: cornflowerblue;
}

nav h2 {
    margin: 0;
}