body{
    font-family: Arial, Helvetica, sans-serif;
    background: gainsboro;
}

nav {
    position: sticky;
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

nav h2 {
    margin: 0;
}

.card {
    background: white;
    border-radius: 15px;
    padding: 25px;
    margin: 30px auto; 
    width: 80%; 
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}